* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  width: 1280px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  line-height: 1;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-family: "Merriweather", serif;
  font-size: 25px;
  font-weight: bold;
}

p {
  margin: 0 0 30px 0;
}

.button {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  background: yellow;
  color: black;
  display: block;
  text-align: center;
  padding: 12px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
}

header {
  background: black;
  color: white;
  overflow: hidden;
  border-bottom: 4px solid yellow;
  padding: 0 3%;
}

header a {
  color: inherit;
  text-decoration: none;
}

header h1 {
  float: left;
  color: yellow;
  font-family: "Merriweather", serif;
  font-size: 30px;
  margin: 20px 0 0 0;
}

header nav {
  float: right;
  width: 55%;
  text-align: right;
  padding: 20px 0;
}

header nav a {
  padding: 0 .3em;
}

header nav a:hover {
  color: yellow;
}

header nav a#hamburger {
  display: none;
  padding: 15px;
}

.tagline {
  font-family: "Merriweather", serif;
  text-align: center;
  margin: 0;
  padding: 20px 40px;
  font-size: 25px;
  line-height: 25px;
  font-style: italic;
  background: #C6C6C6;
  border-top: 1px solid #AAA;
}

#taste {
  color: #999;
  text-decoration: line-through;
}

#are {
  border-bottom: 3px solid yellow;
}

.banner {
  background: url("../images/coworking.jpg") center center no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 40px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .75);
}

.blurb {
  background: rgba(255, 255, 255, .8);
  width: 430px;
  padding: 50px;
  float: right;
  box-shadow: 0 0 5px rgba(0, 0, 0, .75);
}

.callouts {
  background: #EEE;
  display: flex;
  padding: 25px 0;
  justify-content: center;
}

.callout {
  width: 425px;
  padding: 25px 40px;
  box-sizing: border-box;
  border-right: 1px solid rgb(200, 200, 200);
}

.callout:last-child {
  border: none;
}

.callout .button {
  background: #C6C6C6;
}

footer {
  background: black;
  color: white;
  padding: 25px 40px;
}